<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-scrollbar.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>{% block title %}Behind the Screens{% endblock %}</title> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'admin_sidebar.html' %}
    <main class="w-[calc(100%-256px)] ml-64 bg-slate-100 dark:bg-[#181818] min-h-screen transition-width duration-300 ease-in-out" id="content">
        {% block content %}{% endblock %}
    </main>

    <script>
        const menuToggleButton = document.getElementById('menuToggleButton');
        const sidebar = document.getElementById('sidebar');
        const content = document.getElementById('content');
        menuToggleButton.addEventListener('click', () => {
            sidebar.classList.toggle('-translate-x-full');
            content.classList.toggle('w-full');
            content.classList.toggle('ml-64');
        });
    </script>
</body>
</html>
