{% extends "base.html" %} {% block title %}Analysis{% endblock %}

{% block content %} 
<div class="py-2 px-6 bg-slate-200 dark:bg-[#121212] flex items-center fixed top-0 w-full">
    <button type="button" class="text-lg text-black dark:text-white" id="menuToggleButton">
        <i class="ri-menu-line cursor-pointer"></i>
    </button>
    <div>
        <span class="text-m text-black dark:text-white ml-4">Analyze</span>
    </div>
    </div>        
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert bg-red-500 text-black p-3 text-sm">
        {{ message }}
        <button type="button" class="float-right" data-dismiss="alert" onclick="this.parentElement.style.display='none'">&times;</button>
    </div>
    {% else %}
    <div class="alert bg-blue-600 text-white p-3 text-sm">
        {{ message }}
        <button type="button" class="float-right" data-dismiss="alert" onclick="this.parentElement.style.display='none'">&times;</button>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}

<!-- Logo -->
<div class="flex justify-center">
    <img class="w-1/2 mt-32" src="./static/BTS-logo-with-name.png">
</div>

<!-- Input Bar -->
<form method="POST" action="/analyze">    
<div class="flex items-center justify-center mt-[50px]">
    <input
    class="flex w-[500px] flex-col gap-1.5 rounded-[26px] p-1.5 px-4 transition-colors bg-slate-100 text-black dark:bg-token-main-surface-secondary placeholder-gray-500 ml-10"
    id="url"
    name="url"
    type="text"
    placeholder="Youtube URL here..." 
    />
        <button type="submit" class="rounded-full text-sm px-3 py-2 me-2 ml-2 bg-red-600 dark:text-black dark:hover:bg-red-700 dark:hover:border-gray-600"><i class="ri-arrow-right-line"></i></button>
  </div>
</form>
{% endblock %}