{% extends "base.html" %} {% block title %}Analysis{% endblock %}

{% block content %}

<div class="py-2 px-6 bg-slate-200 dark:bg-[#121212] flex items-center fixed top-0 w-full">
    <button type="button" class="text-lg text-black dark:text-white" id="menuToggleButton">
        <i class="ri-menu-line cursor-pointer"></i>
    </button>
    <div>
        <span class="text-m text-black dark:text-white ml-4">Analyze</span>
        {% if user.confirmed_email == False %}
        <span class="text-m text-red-600 ml-4">Your email hasn't been verified yet. Go to your settings to confirm your email.</span>
        {% endif %}
    </div>  
</div>

<!-- Logo -->
<div class="flex justify-center">
    <a href="/" class="w-1/2 mt-32"><img src="./static/BTS-logo-with-name.png"></a>
</div>

<!-- Input Bar -->
<form id="analysis-form" method="POST" action="/analyze">    
<div class="flex items-center justify-center mt-[50px]">
    <input
    class="flex w-[500px] flex-col gap-1.5 rounded-[26px] p-1.5 px-4 transition-colors bg-slate-100 text-black dark:bg-token-main-surface-secondary placeholder-gray-500 ml-10"
    id="url"
    name="url"
    type="text"
    placeholder="Youtube URL here..." 
    />
        <button type="submit" class="rounded-full text-sm px-3 py-2 me-2 ml-2 bg-red-600 dark:text-black dark:hover:bg-red-700 dark:hover:border-gray-600"><i class="ri-arrow-right-line"></i></button>
  </div>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="alert-messages" class="flex flex-col items-center justify-center">
    <div class="flex items-center">
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div id="alert-{{ loop.index }}" class="alert text-red-500 p-3 text-sm">
            {{ message }}
        </div>
        {% else %}
        <div id="alert-{{ loop.index }}" class="alert text-blue-600 p-3 text-sm">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}

<div id="loading-message" class="flex flex-col items-center justify-center mt-[50px] hidden">
    <div class="flex items-center">
        <!-- Spinner Icon -->
        <svg class="animate-spin h-5 w-5 text-gray-700 dark:text-gray-300 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
        </svg>
        <p class="text-lg text-gray-700 dark:text-gray-300 ml-2">Please Wait...</p>
    </div>
    <div class="flex items-center mt-2">
        <p class="text-sm text-gray-700 dark:text-gray-300 ml-2">This may take a while depending on the number of comments.</p>
    </div>
</div>

<script>
document.getElementById('analysis-form').addEventListener('submit', function(event) {
    document.getElementById('analysis-form').classList.add('hidden');
    document.getElementById('loading-message').classList.remove('hidden');
    this.submit();
});

document.addEventListener('DOMContentLoaded', (event) => {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach((alert, index) => {
        setTimeout(() => {
            alert.style.display = 'none';
        }, 5000); // 5000 milliseconds = 5 seconds
    });
});
</script>
{% endblock %}