{% extends "base.html" %}

{% block title %}Results of {{ youtube_url }}{% endblock %}

{% block content %}
<div>
    <div class="py-2 px-6 bg-slate-200 dark:bg-[#121212] flex items-center fixed top-0 w-full">
        <button type="button" class="text-lg text-black dark:text-white" id="menuToggleButton">
            <i class="ri-menu-line cursor-pointer"></i>
        </button>
        <div>
            <span class="text-m text-black dark:text-white ml-4">Results</span>
        </div>
    </div>

    <!-- Add your result display logic here, similar to `results.html` -->
    <!-- Example for the summary -->
    <div class="mt-5 pt-5 flex justify-center">
        <table id="summary" class="table-auto text-center ml-[50px] mr-[50px] mt-4">
            <thead class="text-white">
                <tr class="bg-red-600 dark:bg-slate-700 text-lg">
                    <th class="px-2 py-1">Interpretation of " {{ youtube_url }} "</th>
                </tr>
            </thead>
            <tbody class="text-gray-900 dark:text-white text-sm">
                <tr>
                    <td class="px-2 py-2">
                        <!-- Add the logic to display the summary here -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Similar tables for comments and word clouds as in results.html -->
</div>
{% endblock %}
