<div class="fixed left-0 top-0 w-64 h-screen bg-slate-200 dark:bg-[#121212] p-4 z-50 transition-transform duration-300 ease-in-out transform -translate-x-full md:translate-x-0 flex flex-col" id="sidebar">
    <div>
        <a class="flex items-center pb-4 border-b border-gray-900 dark:border-white">
            <span class="text-red-600 text-sm font-bold dark:text-white ml-2">Previous Sessions</span>
        </a>
    </div>
    <div class="absolute right-0 top-0 mt-4 mr-6 text-left">
        <a href="/main" id="addButton" class="inline-flex justify-center">
            <i class="ri-add-fill text-black dark:text-white"></i>
        </a>
    </div>

    <!-- Side Nav -->
    <div class="flex-grow overflow-y-auto custom-scrollbar">
        <ul class="mt-4 space-y-4">
            {% for youtube_url in youtube_urls %}
            <li class="group">
                <div class="hidden">{{ youtube_url.id }}</div>
                <div class="font-medium text-red-600 dark:text-gray-400 text-xs mb-2 ml-4">{{ youtube_url.created_at|format_date }}</div>
                <div class="flex items-center justify-between py-2 px-4 text-black dark:text-gray-50 hover:bg-red-500 dark:hover:bg-[#181818] hover:text-white dark:hover:text-gray-100 rounded-md">
                    <a href="/result/{{ youtube_url.id }}${{ youtube_url.video_id }}" class="font-medium flex-1 text-sm video-title truncate">
                        {{ youtube_url.video_name }}
                    </a>
                    <button class="ml-4 text-red-800 dark:text-white hover:text-white dark:hover:text-red-600 flex-shrink-0 block sm:block trash-button" data-id="{{ youtube_url.id }}" onclick="openDeleteModal('{{ youtube_url.id }}')">
                        <i class="ri-delete-bin-line"></i>
                    </button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

<!-- Account section -->
<div class="pt-2 juice:py-2 border-t border-gray-800 dark:border-white/20 mt-auto ml-2 font-medium">
    <span class="flex w-full flex-row justify-between items-center">
        <div class="flex items-center gap-2">
            <div class="flex flex-col text-gray-900 dark:text-white">
                <div class="flex items-center">
                    <a>{{ user.username }}</a>
                    {% if user.confirmed_email == False %}
                    <i class="fas fa-exclamation-circle text-red-600 ml-2" title="Unverified Account"></i>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Three dots (dropdown button) moved to the right -->
        <div class="ml-auto relative">
            <button id="dropdownButton" class="inline-flex justify-center">
                <i class="ri-more-fill text-black dark:text-white"></i>
            </button>

            <!-- Dropdown menu now appears above the button -->
            <div id="dropdownMenu" class="absolute bottom-full left-0 mb-2 w-56 rounded-md shadow-lg dark:bg-[#1c1b1b] bg-white ring-1 dark:ring-white ring-black ring-opacity-5 hidden" role="menu" aria-orientation="vertical" aria-labelledby="dropdownButton">
                <div class="py-0" role="none">
                    <a href="/settings" class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-[#121212]" role="menuitem">Account settings</a>
                    <a href="/privacy-policy" class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-[#121212]" role="menuitem">Privacy Policy</a>
                    <a href="/user-agreement" class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-[#121212]" role="menuitem">User Agreement</a>
                    <a href="/logout" class="block w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-[#121212]" role="menuitem">Log Out</a>
                </div>
            </div>
        </div> 
    </span>
</div>

</div>

<!-- Delete Confirmation Modal -->
<div id="deleteModal" class="fixed inset-0 flex items-center justify-center bg-slate-400 dark:bg-slate-800 bg-opacity-90 hidden z-50">
    <div class="modal-content bg-slate-200 dark:bg-[#121212] p-4 sm:p-6 rounded-lg shadow-lg max-w-sm w-full">
        <h2 class="text-lg font-semibold light:text-black dark:text-white mb-2">Delete this analysis?</h2>
        <p class="font-medium text-sm text-red-500 mb-4">You can't redo this action.</p>
        <div class="font-medium flex flex-col gap-2 sm:flex-row sm:gap-4 justify-end">
            <button id="cancelButton" class="button bg-slate-300 dark:bg-gray-700 text-black dark:text-white px-4 py-2 rounded-md hover:bg-slate-400 dark:hover:bg-gray-600 w-full sm:w-auto" onclick="closeDeleteModal()">
                Cancel
            </button>
            <form id="deleteForm" action="" method="POST">
                <input type="hidden" name="id" id="deleteId">
                <button id="confirmButton" class="button bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 w-full sm:w-auto">
                    Delete
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    function openDeleteModal(id) {
        const deleteModal = document.getElementById('deleteModal');
        const deleteForm = document.getElementById('deleteForm');
        const deleteIdInput = document.getElementById('deleteId');
    
        // Set the form action to include the id
        deleteForm.action = `/delete-analysis/${id}`;
        // Set the hidden input value to the id
        deleteIdInput.value = id;
    
        // Show the modal
        deleteModal.classList.remove('hidden');
    }
    
    function closeDeleteModal() {
        const deleteModal = document.getElementById('deleteModal');
        // Hide the modal
        deleteModal.classList.add('hidden');
    }
    
    // Add event listener to cancel button to close the modal
    document.getElementById('cancelButton').addEventListener('click', closeDeleteModal);
</script>
