<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Sign Up</title>
    <style>
          @media (prefers-color-scheme: dark) {
            body {
                background-color: #181818;
            }
            .bg-gray-100 {
                background-color: #181818;
            }
            .text-black {
                color: #fff;
            }
            .bg-white {
                background-color: #181818;
            }
            .text-gray-700 {
                color: white;
            }
            .text-gray-600 {
                color: #ccc;
            }
            .text-gray-500 {
                color: white;
            }
            .border-gray-200 {
                border-color: #555;
            }
            .focus:border-gray-200 {
                border-color: #555;
            }
            .focus:ring-gray-300 {
                box-shadow: 0 0 0 2px #555;
            }
            .hover\:bg-gray-50 {
              background-color: #121212;
            }
            .bg-black {
                background-color: #880808;
            }
            .hover:bg-gray-800 {
                background-color: #7c1010;
            }
            .focus:bg-black {
                background-color: #121212;
            }
            .focus:ring-gray-900 {
                box-shadow: 0 0 0 2px #2C2C2C;
            }
        }
    </style>
</head>
   <body>
   <div class="flex h-screen">
    <!-- Left Pane -->
    <div class="lg:flex items-center justify-center flex-1 dark:bg-gray-800 bg-slate-300 text-black">
      <div class="max-w-md text-center">
        <a href="/"><img src="./static/BTS-logo-with-name.png" width="524.67004" height="531.39694" class="w-full" viewBox="0 0 524.67004 531.39694"></a>
        </div>
    </div>

    <!-- Right Pane -->
    <div class="w-full bg-slate-200 dark:bg-gray-900 lg:w-1/2 flex items-center justify-center">
      <div class="max-w-md w-full p-6">
        <h1 class="text-3xl font-bold mb-6 text-black text-center">Sign Up</h1>
        <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">Join Our Community to Save Your Analysis Results</h1>
        <div class="mt-4 flex flex-col items-center">
        </div>

        <form action="" method="POST" class="space-y-4">
          <div>
            <label for="username" class="block text-sm font-bold text-gray-700">Username</label>
            <input type="text" id="username" name="username" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-300">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' and 'Username' in message %}
                <div class="alert text-red-500 mt-2 ml-2 text-sm font-medium">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
          </div>
          <div>
            <label for="email" class="block text-sm font-bold text-gray-700">Email</label>
            <input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-300" oninput="validateEmail()">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' and 'Email' in message %}
                <div class="alert text-red-500 mt-2 ml-2 text-sm font-medium">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
          </div>
          <div>
            <label for="password" class="block text-sm font-bold text-gray-700">Password</label>
            <div class="relative">
                <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-300">
                <i class="far fa-eye absolute right-3 top-4 cursor-pointer" id="toggle-password" onclick="togglePasswordVisibility()"></i>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' and 'Password must contain' in message %}
                <div class="alert text-red-500 mt-2 ml-2 text-sm font-medium">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div>
            <label for="confirmpassword" class="block text-sm font-bold text-gray-700">Confirm Password</label>
            <div class="relative">
                <input type="password" id="confirmpassword" name="confirmpassword" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-300" oninput="validateConfirmPassword()">
                <i class="far fa-eye absolute right-3 top-4 cursor-pointer" id="toggle-confirmpassword" onclick="togglePasswordVisibility()"></i>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' and 'Passwords' in message %}
                <div class="alert text-red-500 mt-2 ml-2 text-sm font-medium">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
          <div>
            <button type="submit" class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-black focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300 font-bold">Sign Up</button>
          </div>
        </form>
        <div class="mt-4 text-sm text-gray-600 text-center font-medium">
          <p>Already have an account? <button onclick="location.href='/login'" class="text-black hover:cursor-pointer font-bold">Login here</button>.
          </p>

        </div>

      </div>

    </div>

  </div>
 
  <script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var confirmPasswordField = document.getElementById("confirmpassword");
        var togglePasswordIcon = document.getElementById("toggle-password");
        var toggleConfirmPasswordIcon = document.getElementById("toggle-confirmpassword");
    
        if (passwordField.type === "password") {
            passwordField.type = "text";
            confirmPasswordField.type = "text";
            togglePasswordIcon.classList.remove("fa-eye");
            togglePasswordIcon.classList.add("fa-eye-slash");
            toggleConfirmPasswordIcon.classList.remove("fa-eye");
            toggleConfirmPasswordIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            confirmPasswordField.type = "password";
            togglePasswordIcon.classList.remove("fa-eye-slash");
            togglePasswordIcon.classList.add("fa-eye");
            toggleConfirmPasswordIcon.classList.remove("fa-eye-slash");
            toggleConfirmPasswordIcon.classList.add("fa-eye");
        }
    }
    
    function validateEmail() {
        const emailInput = document.getElementById('email');
        const email = emailInput.value;
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,7}$/;
        if (emailPattern.test(email)) {
          emailInput.classList.remove('border-red-500', 'focus:border-red-500', 'focus:ring-red-500');
          emailInput.classList.add('border-gray-300', 'focus:border-gray-200', 'focus:ring-gray-300');
        } else {
          emailInput.classList.remove('border-gray-300', 'focus:border-gray-200', 'focus:ring-blue-500');
          emailInput.classList.add('border-red-500', 'focus:border-red-500', 'focus:ring-red-500');
        }
      }

      function validateConfirmPassword() {
          const passwordInput = document.getElementById('password');
          const confirmPasswordInput = document.getElementById('confirmpassword');
          
          if (confirmPasswordInput.value === passwordInput.value) {
            confirmPasswordInput.classList.remove('border-red-500', 'focus:border-red-500', 'focus:ring-red-500');
            confirmPasswordInput.classList.add('border-gray-300', 'focus:border-gray-200', 'focus:ring-gray-300');
          } else {
            confirmPasswordInput.classList.remove('border-gray-300', 'focus:border-gray-200', 'focus:ring-blue-500');
            confirmPasswordInput.classList.add('border-red-500', 'focus:border-red-500', 'focus:ring-red-500');
          }
        }
    </script>
<script src="./app.js"></script>
</body>
</html>

