{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<div
  class="container max-w-md mx-auto xl:max-w-3xl h-full flex mt-14 mb-14 dark:bg-black bg-gray-300 rounded-lg shadow overflow-hidden"
>
  <div class="relative hidden xl:block xl:w-1/2 h-full">
    <img
      class="absolute h-auto w-full object-cover"
      src="./static/BTS-Logo.png"
      alt="Behind-the-Screens-LOGO"
    />
  </div>
  <div class="w-full xl:w-1/2 p-8">
    <form method="POST">
      <h1 class=" text-2xl font-bold">Create your account</h1>
    <div>
      <span class="dark:text-white text-gray-600 text-sm">
        Already have an account?
      </span>
      <a href="/login" class="dark:text-red-500 text-gray-700 text-sm font-semibold bg-transparent border-none p-0 cursor-pointer">
        Log in
      </a>  
    </div>
    <div class="mb-4 mt-6">
      <label
        class="block dark:text-white text-gray-700 text-sm font-semibold mb-2"
        for="email"
      >
        Email
      </label>
      <input
        class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10"
        id="email"
        type="text"
        name="email"
        placeholder="Your email address"
      />
    </div>
    <div class="mb-4 mt-6">
      <label
        class="block dark:text-white text-gray-700 text-sm font-semibold mb-2"
        for="password"
      >
        Password
      </label>
      <input
        class="text-sm bg-gray-200 appearance-none rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline h-10"
        id="password"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-4 mt-6">
        <label
          class="block dark:text-white text-gray-700 text-sm font-semibold mb-2"
          for="confirmpassword"
        >
          Confirm Password
        </label>
        <input
          class="text-sm bg-gray-200 appearance-none rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline h-10"
          id="confirmpassword"
          type="password"
          name="confirmpassword"
          placeholder="Confirm password"
        />
      </div>
    
    <div class="flex w-full mt-5">
        <button
          class="w-full dark:bg-red-500 bg-gray-800 hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10"
          type="submit"
          onclick="window.location.href='/login'"
        >
        Sign Up
        </button>
      </div>
    </form>
    <div class="mb-6 mt-5 dark:text-white text-gray-700 text-sm font-semibold text-center">
      <div class="mt-2 justify-center flex gap-4">
          <a href="{{ url_for('auth.login_google') }}" class="bg-[#24292F] w-1/2 py-1 rounded-md text-white font-bold cursor-pointer hover:bg-[#4d4d5c]">Sign up with Google</a>
      </div>
  </div>
  </div>
</div>
{% endblock %}