{% extends "base.html" %}
{% block title %}Results{% endblock %}

{% block content %}
<div class="py-2 px-6 bg-slate-200 dark:bg-[#121212] flex items-center fixed top-0 w-full">
    <button type="button" class="text-lg text-black dark:text-white" id="menuToggleButton">
        <i class="ri-menu-line cursor-pointer"></i>
    </button>
    <div>
        <span class="text-m text-black dark:text-white ml-4">Results</span>
    </div>
</div>

<div class="container mx-auto mt-20">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white">{{ youtube_url.title }}</h2>
    <p class="mt-4 text-gray-700 dark:text-gray-400">{{ summary }}</p>

    <h3 class="text-xl font-bold text-gray-900 dark:text-white mt-6">Sentiment Analysis</h3>
    <div class="flex items-center">
        <p class="text-gray-700 dark:text-gray-400">Positive: {{ count.positive }}</p>
        <p class="ml-4 text-gray-700 dark:text-gray-400">Negative: {{ count.negative }}</p>
        <p class="ml-4 text-gray-700 dark:text-gray-400">Neutral: {{ count.neutral }}</p>
    </div>

    <h3 class="text-xl font-bold text-gray-900 dark:text-white mt-6">Frequent Words</h3>
    <ul class="list-disc ml-5">
        {% for word in frequent_words %}
        <li class="text-gray-700 dark:text-gray-400">{{ word.word }}: {{ word.count }}</li>
        {% endfor %}
    </ul>

    <h3 class="text-xl font-bold text-gray-900 dark:text-white mt-6">Comments</h3>
    <ul class="list-disc ml-5">
        {% for comment in comments %}
        <li class="text-gray-700 dark:text-gray-400">{{ comment.text }}</li>
        {% endfor %}
    </ul>

    {% if image_positive_data %}
    <h3 class="text-xl font-bold text-gray-900 dark:text-white mt-6">Positive Word Cloud</h3>
    <img src="data:image/png;base64,{{ image_positive_data }}" alt="Positive Word Cloud" class="mt-2">
    {% endif %}

    {% if image_negative_data %}
    <h3 class="text-xl font-bold text-gray-900 dark:text-white mt-6">Negative Word Cloud</h3>
    <img src="data:image/png;base64,{{ image_negative_data }}" alt="Negative Word Cloud" class="mt-2">
    {% endif %}
</div>
{% endblock %}
