<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Account Settings</title>
</head>
<body class="bg-slate-200 dark:bg-[#121212]">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div id="alert-{{ loop.index }}" class="alert bg-red-500 text-black p-3 text-sm">
                {{ message }}
                <button type="button" class="float-right" data-dismiss="alert" onclick="this.parentElement.style.display='none'">&times;</button>
            </div>
            {% else %}
            <div id="alert-{{ loop.index }}" class="alert bg-blue-600 text-white p-3 text-sm">
                {{ message }}
                <button type="button" class="float-right" data-dismiss="alert" onclick="this.parentElement.style.display='none'">&times;</button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="flex justify-center items-center min-h-full ">
        <div class="w-full max-w-4xl mx-auto p-6 rounded-lg shadow-md flex gap-8" style="width: 70%; height: 70%;">
            <!-- Left Column -->
            <div class="w-2/5">
                <div class="flex">
                    <div class="text-xl text-black dark:text-white">
                        <a href="/main" class="px-3 py-2 hover:bg-gray-800 rounded-full"><i class="ri-arrow-left-line"></i></a>
                    </div>
                    <h1 class="ml-2 text-2xl font-bold mb-6 text-black dark:text-white">Account Settings</h1>
                </div>
                <hr>
                <div class="w-full text-black dark:text-slate-200">
                    <div id="username-button" class="mt-2 relative hover:bg-slate-300 dark:hover:bg-gray-700 rounded-md cursor-pointer" onclick="toggleUsernameSettings()">
                        <div class="ml-4">
                            <button class="pt-3 pb-3">Username</button>
                            <i class="ri-arrow-right-line absolute right-3 top-3"></i>
                        </div>
                    </div>
                    <div id="email-button" class="relative hover:bg-slate-300 dark:hover:bg-gray-700 rounded-md cursor-pointer" onclick="toggleEmailSettings()">
                        <div class="ml-4">
                            <button class="pt-3 pb-3">Email</button>
                            <i class="ri-arrow-right-line absolute right-3 top-3"></i>
                        </div>
                    </div>
                    <div id="password-button" class="relative hover:bg-slate-300 dark:hover:bg-gray-700 rounded-md cursor-pointer" onclick="togglePasswordSettings()">
                        <div class="ml-4">
                            <button class="pt-3 pb-3">Password</button>
                            <i class="ri-arrow-right-line absolute right-3 top-3"></i>
                        </div>
                    </div>
                    <div id="delete-button" class="relative text-red-500 hover:bg-slate-300 dark:hover:bg-gray-700 rounded-md cursor-pointer" onclick="toggleDeleteAccount()">
                        <div class="ml-4">
                            <button class="pt-3 pb-3">Delete Account</button>
                            <i class="ri-arrow-right-line absolute right-3 top-3"></i>
                        </div>
                    </div>
                    <div class="mt-4 text-center text-secondary">
                        Your use of our services is also subject to our <a href="/privacy-policy" class="text-blue-400 hover:underline">Privacy Policy </a> and <a href="/user-agreement" class="text-blue-400 hover:underline">User Agreement</a>.
                    </div>
                </div>
            </div>
            
            <!-- Right Column -->
            <div class="w-3/5">
    
                <div>
                    <h2 class="text-xl font-semibold mb-4 text-black dark:text-white">Account Information</h2>
                    <!-- Description -->
                    <div id="description" class="mb-6">
                        <p class="text-black dark:text-slate-400">View or change your account information. Click on the options on the left to get started.</p>
                    </div>
                    <!-- Username Change -->
                    <div id="username-change" class="hidden p-4 rounded-lg mb-6">
                    <form method="POST" action="/change-username">
                        <div class="mb-4 hidden">
                            <label for="old-username" class="block mb-2 text-black dark:text-slate-200">Current Username</label>
                            <div>
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="old-username"
                                        name="old-username"
                                        type="text"
                                        value="{{ username }}"
                                        readonly>
                            </div>
                        </div>
                        <div>
                            <label for="username" class="block mb-2 text-black dark:text-slate-200">Username</label>
                            <div>
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="username"
                                        name="username"
                                        type="text"
                                        value="{{ username }}">
                            </div>
                        </div>
                        <!-- Save Button -->
                        <div class="w-full mt-6 flex justify-end">
                            <div class="bg-blue-600 text-center text-white rounded">
                                <button type="submit" class="px-4 py-2 rounded-lg">Save</button>
                            </div>
                        </div>
                    </form>
                    </div>
    
                    <!-- Email Change -->
                    <div id="email-change" class="hidden p-4 rounded-lg mb-6">
                    {% if confirmed_email == False %}
                    <div class="mb-6">
                        <p class="text-red-600">Your email hasn't been verified yet. Please confirm your email.</p>
                    </div>
                    <form method="POST" action="/resend-confirmation">
                        <div>
                            <label for="email" class="block mb-2 text-black dark:text-slate-200">Email</label>
                            <div>
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="email"
                                        name="email"
                                        type="email"
                                        value="{{ email }}">
                            </div>
                        </div>
                        <!-- Verify Button -->
                        <div class="w-full mt-6 flex justify-end">
                            <div class="bg-blue-600 text-center text-white rounded">
                                <button type="submit" class="px-4 py-2 rounded-lg">Verify Email</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <div class="mb-6">
                        <p class="text-black dark:text-slate-400">You can change your email here. Please enter a valid email.</p>
                    </div>
                    <form method="POST" action="/change-email">
                        <div class="mb-4 hidden">
                            <label for="old-email" class="block mb-2 text-black dark:text-slate-200">Current Email</label>
                            <div>
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="old-email"
                                        name="old-email"
                                        type="email"
                                        value="{{ email }}"
                                        readonly>
                            </div>
                        </div>
                        <div>
                            <label for="email" class="block mb-2 text-black dark:text-slate-200">Email</label>
                            <div>
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="email"
                                        name="email"
                                        type="email"
                                        value="{{ email }}">
                            </div>
                        </div>
                        <!-- Save Button -->
                        <div class="w-full mt-6 flex justify-end">
                            <div class="bg-blue-600 text-center text-white rounded">
                                <button type="submit" class="px-4 py-2 rounded-lg">Save</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    </div>

                    <!-- Password Change -->
                    <div id="password-change" class="p-4 rounded-lg mb-6 hidden">
                        <div class="mb-6">
                            <p class="text-black dark:text-slate-400">You can change your password here.</p>
                        </div>
                    <form method="POST" action="/change-password">
                        <div>
                            <label for="password" class="block mb-1 text-black dark:text-slate-200">Current Password</label>
                            <div class="mb-4 relative">
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="password"
                                        name="password"
                                        type="password">
                                        <i class="far fa-eye absolute right-3 top-4 cursor-pointer text-gray-800 dark:text-slate-400" id="toggle-password" onclick="togglePasswordVisibility()"></i>
                                <div class="mt-2 text-sm text-blue-500">
                                    <a href="/forgot">Forgot Password?</a>
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <label for="newpassword" class="block mb-1 text-black dark:text-slate-200">New Password</label>
                            <div class="mb-4 relative">
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="newpassword"
                                        name="newpassword"
                                        type="password">
                                        <i class="far fa-eye absolute right-3 top-4 cursor-pointer text-gray-800 dark:text-slate-400" id="toggle-newpassword" onclick="togglePasswordVisibility()"></i>
                            </div>
                        </div>
                        
                        <div>
                            <label for="confirmpassword" class="block mb-1 text-black dark:text-slate-200">Confirm Password</label>
                            <div class="mb-4 relative">
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="confirmpassword"
                                        name="confirmpassword"
                                        type="password">
                                        <i class="far fa-eye absolute right-3 top-4 cursor-pointer text-gray-800 dark:text-slate-400" id="toggle-confirmpassword" onclick="togglePasswordVisibility()"></i>
                            </div>
                        </div>
                        <!-- Save Button -->
                        <div class="w-full mt-6 flex justify-end">
                            <div class="bg-blue-600 text-center text-white rounded">
                                <button type="submit" class="px-4 py-2 rounded-lg">Save</button>
                            </div>
                        </div>
                    </form>
                    </div>

                    <!-- Delete Account -->
                    <div id="delete-account" class=" p-4 rounded-lg mb-6 hidden">
                        <p class="text-red-500 mb-2">This action is irreversible!</p>
                        <form method="POST" action="/delete-account">
                        <div>
                            <label for="deleteaccountpassword" class="block mb-1 text-black dark:text-slate-200">Confirm the deletion of your account by entering your password.</label>
                            <div class="mb-4 relative">
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="deleteaccountpassword"
                                        name="deleteaccountpassword"
                                        type="password">
                                        <i class="far fa-eye absolute right-3 top-4 cursor-pointer text-gray-800 dark:text-slate-400" id="toggle-deleteaccountpassword" onclick="togglePasswordVisibility()"></i>
                            </div>
                        </div>
                        <div>
                            <label for="confirmdeleteaccountpassword" class="block mb-1 text-black dark:text-slate-200">Re-enter Password</label>
                            <div class="mb-4 relative">
                                <input class=" w-full items-center justify-between p-3 rounded bg-gray-100 dark:bg-slate-700 text-gray-800 dark:text-white"
                                        id="confirmdeleteaccountpassword"
                                        name="confirmdeleteaccountpassword"
                                        type="password">
                                        <i class="far fa-eye absolute right-3 top-4 cursor-pointer text-gray-800 dark:text-slate-400" id="toggle-confirmdeleteaccountpassword" onclick="togglePasswordVisibility()"></i>
                            </div>
                            <p class="text-black dark:text-slate-400 mb-2">Once your account has been deleted, there is no getting back of your data.</p>
                            <!-- Delete Account Button -->
                            <div class="w-full mt-6 flex justify-end">
                                <div class="bg-red-600 text-center text-white rounded">
                                    <button type="submit" class="px-4 py-2 rounded-lg">Delete Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var newPasswordField = document.getElementById("newpassword");
            var confirmPasswordField = document.getElementById("confirmpassword");
            var togglePasswordIcon = document.getElementById("toggle-password");
            var toggleNewPasswordIcon = document.getElementById("toggle-newpassword");
            var toggleConfirmPasswordIcon = document.getElementById("toggle-confirmpassword");

            var deleteAccountPasswordField = document.getElementById("deleteaccountpassword");
            var confirmDeleteAccountPasswordField = document.getElementById("confirmdeleteaccountpassword");
            var toggleDeleteAccountPassword = document.getElementById("toggle-deleteaccountpassword");
            var toggleConfirmDeleteAccountPassword = document.getElementById("toggle-confirmdeleteaccountpassword");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                newPasswordField.type = "text";
                confirmPasswordField.type = "text";
                deleteAccountPasswordField.type = "text";
                confirmDeleteAccountPasswordField.type = "text";

                togglePasswordIcon.classList.remove("fa-eye");
                togglePasswordIcon.classList.add("fa-eye-slash");
                toggleNewPasswordIcon.classList.remove("fa-eye");
                toggleNewPasswordIcon.classList.add("fa-eye-slash");
                toggleConfirmPasswordIcon.classList.remove("fa-eye");
                toggleConfirmPasswordIcon.classList.add("fa-eye-slash");
                toggleDeleteAccountPassword.classList.remove("fa-eye");
                toggleDeleteAccountPassword.classList.add("fa-eye-slash");
                toggleConfirmDeleteAccountPassword.classList.remove("fa-eye");
                toggleConfirmDeleteAccountPassword.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                newPasswordField.type = "password";
                confirmPasswordField.type = "password";
                deleteAccountPasswordField.type = "password";
                confirmDeleteAccountPasswordField.type = "password";
                togglePasswordIcon.classList.remove("fa-eye-slash");
                togglePasswordIcon.classList.add("fa-eye");
                toggleNewPasswordIcon.classList.remove("fa-eye-slash");
                toggleNewPasswordIcon.classList.add("fa-eye");
                toggleConfirmPasswordIcon.classList.remove("fa-eye-slash");
                toggleConfirmPasswordIcon.classList.add("fa-eye");
                toggleDeleteAccountPassword.classList.remove("fa-eye-slash");
                toggleDeleteAccountPassword.classList.add("fa-eye");
                toggleConfirmDeleteAccountPassword.classList.remove("fa-eye-slash");
                toggleConfirmDeleteAccountPassword.classList.add("fa-eye");
            }
        }

        function toggleUsernameSettings() {
            var description = document.getElementById("description");
            var usernameChange = document.getElementById("username-change");
            var emailChange = document.getElementById("email-change");
            var passwordChange = document.getElementById("password-change");
            var deleteAccount = document.getElementById("delete-account");
            
            description.classList.add("hidden");
            usernameChange.classList.remove("hidden");
            emailChange.classList.add("hidden");
            passwordChange.classList.add("hidden");
            deleteAccount.classList.add("hidden");
        }

        function toggleEmailSettings() {
            var description = document.getElementById("description");
            var usernameChange = document.getElementById("username-change");
            var emailChange = document.getElementById("email-change");
            var passwordChange = document.getElementById("password-change");
            var deleteAccount = document.getElementById("delete-account");
            
            description.classList.add("hidden");
            usernameChange.classList.add("hidden");
            emailChange.classList.remove("hidden");
            passwordChange.classList.add("hidden");
            deleteAccount.classList.add("hidden");
        }

        function togglePasswordSettings() {
            var description = document.getElementById("description");
            var usernameChange = document.getElementById("username-change");
            var emailChange = document.getElementById("email-change");
            var passwordChange = document.getElementById("password-change");
            var deleteAccount = document.getElementById("delete-account");
            
            description.classList.add("hidden");
            usernameChange.classList.add("hidden");
            emailChange.classList.add("hidden");
            passwordChange.classList.remove("hidden");
            deleteAccount.classList.add("hidden");
        }

        function toggleDeleteAccount() {
            var description = document.getElementById("description");
            var usernameChange = document.getElementById("username-change");
            var emailChange = document.getElementById("email-change");
            var passwordChange = document.getElementById("password-change");
            var deleteAccount = document.getElementById("delete-account");
            
            description.classList.add("hidden");
            usernameChange.classList.add("hidden");
            emailChange.classList.add("hidden");
            passwordChange.classList.add("hidden");
            deleteAccount.classList.remove("hidden");
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach((alert, index) => {
                setTimeout(() => {
                    alert.style.display = 'none';
                }, 5000); // 5000 milliseconds = 5 seconds
            });
        });
    </script>
</body>
</html>
